<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="header">
        <header class="p-3 bg-dark text-white">
            <div class="">
                <div class="d-flex flex-wrap align-items-center justify-content-between">
                    <div class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <h5 th:text="${auth_entity.getEmail()}"></h5>
                        <h5><b class="fw-light">&nbsp;with role:&nbsp;</b></h5>
                        <th:block th:each="role : ${auth_entity.getRoles()}">
                            <h5 class="mx-1">
                                <b class="fw-light" th:text="${role.getRole()}"></b>
                            </h5>
                        </th:block>
                    </div>

                    <div class="text-end">
                        <a th:href="@{/logout}" type="button" class="btn btn-outline-light me-2">Logout</a>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>
</html>